    <tr>
        <td><b><%= f.label :name %></b></td>
        <td><%= f.text_field :name %><br /></td>
    </tr>
    <tr>
        <td><b><%= f.label :mail %></b></td>
        <td><%= f.text_field :mail %><br /></td>
    </tr>
    <tr>
        <td><b><%= f.label :subject %></b></td>
        <td><%= f.text_field :subject %><br /></td>
    </tr>
    <tr>
        <td><b><%= f.label :memo %></b></td>
        <td><%= f.text_field :memo %><br /></td>
    </tr>