<% provide(:title, '글 수정'+@rowData.name) %>

<table cellspacing = 0 cellpadding = 5 border = 1 width=500>

    <%= form_for(@rowData) do |f| %>        
        <input type=hidden name=id  value="<%=@id%>">    
        <input type=hidden name=current_page  value="<%=@current_page%>">
        <input type=hidden name=searchStr  value="<%=@searchStr%>">

        <%= render 'shared/error_messages' %>  
        
        <!-- http://guides.rubyonrails.org/layouts_and_rendering.html -->
        <% @readOnlyFlag = 0 %>       
        <%= render :partial => "rowDataInput", :locals => { :f => f , :readOnlyFlag => @readOnlyFlag } %>
        
            
        <table width="150">
            <tr>
                <td>
                    <%= f.submit "재등록", class: "btn btn-large btn-primary" %> 
                </td>
                
                <td>
                    <%= button_to  "목록", {:action => "listSpecificPageWork", :current_page => @current_page, :searchStr => @searchStr} ,class: "btn btn-large btn-primary" %>
                </td>        
            </tr>
        </table>
    
    <% end %>
</table>




