<% provide(:title, '글보기'+@rowData.name) %>

<table cellspacing = 0 cellpadding = 5 border = 1 width=500>

    <%= form_for(@rowData) do |f| %>                    
        <% @readOnlyFlag = 1 %>       
        <%= render :partial => "rowDataInput", :locals => { :f => f , :readOnlyFlag => @readOnlyFlag } %>
            
    <% end %>    
</table>

<table width="150">
    <tr>
        <td><%= button_to '수정' , {:action => "EditAdditionalParams", :id => @id, :current_page => @current_page, :searchStr => @searchStr} ,class: "btn btn-large btn-primary" %></td>
                
        <td><%= button_to  "삭제", my_rails_board_row_path(:id => @id, :current_page => @current_page, :searchStr => @searchStr),class: "btn btn-large btn-primary", :confirm => 'Are you sure?', :method=> :delete %>
        </td>
        
        <td><%= button_to '목록' , {:action => "listSpecificPageWork", :current_page => @current_page, :searchStr => @searchStr} ,class: "btn btn-large btn-primary" %></td>
    </tr>
</table> 
