<% provide(:title, '글보기'+@rowData.name) %>

<table cellspacing = 0 cellpadding = 5 border = 1 width=500>

    <%= form_for(@rowData) do |f| %>                    
        <% @readOnlyFlag = 1 %>       
        <%= render :partial => "rowDataInput", :locals => { :f => f , :readOnlyFlag => @readOnlyFlag } %>
            
    <% end %>    
</table>

<table width="150">
    <tr>
        <!-- RESTful : 수정은 GET방식으로 처리해야함.
        하지만  button_to 는 method에는 GET이 없음..
        http://stackoverflow.com/questions/8684467/button-to-with-get-method-option-in-rails 

        EditViaPostReq 사용으로, javascript:boardmodify 을 제거함.
        -->                
        <td><%= button_to '수정' , {:action => "EditViaPostReq",:id=>@id, :current_page => @current_page, :searchStr => @searchStr} ,class: "btn btn-large btn-primary" %>
        </td>

        <td><%= button_to  "삭제", my_rails_board_row_path(:current_page => @current_page, :searchStr => @searchStr),class: "btn btn-large btn-primary", :confirm => 'Are you sure?', :method=> :delete %>
        </td>
        
        <td><%= button_to '목록' , {:action => "listSpecificPageWork", :current_page => @current_page, :searchStr => @searchStr} ,class: "btn btn-large btn-primary" %></td>
    </tr>
</table> 
